trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  artifactoryService: 'hts2-npm2'
  targetRepo: 'manu-npm-virtual'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

# RUN EVERYTHING IN ONE JFROG TASK
- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    # We use a multi-line command to keep the session alive
    command: |
      jf npm-config --repo-resolve=$(targetRepo) --repo-deploy=$(targetRepo)
      jf npm install --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)
      npm run build
      jf npm publish --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)
      jf rt build-publish $(Build.DefinitionName) $(Build.BuildNumber)
  displayName: 'JFrog: Config, Install, Build, and Publish'