parameters:
  - name: environment
    displayName: Target Environment
    type: string
    default: 'production'
    values:
      - development
      - staging
      - production

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  artifactoryService: 'hts2-npm2'
  devRepo: 'manu-npm-local'
  releaseRepo: 'manu-npm-release'
  projectKey: 'npm-test'
  promotionStatus: 'Released'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '25.6.1'
  displayName: 'Install Node.js'

- task: JFrogToolsInstaller@1
  inputs:
    artifactoryConnection: 'hts2-npm'
    cliInstallationRepo: 'jfrog-cli-v2-new'
    installCustomVersion: true
    cliVersion: '2.91.0'

- script: mkdir -p $(HOME)/.npm/_cacache
  displayName: 'Initialize npm cache'

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: |
      jf npm-config --repo-resolve=$(devRepo) --repo-deploy=$(devRepo)
      jf npm install --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber) --project=$(projectKey)
      jf npm publish --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber) --project=$(projectKey)
      jf rt build-publish $(Build.DefinitionName) $(Build.BuildNumber) --project=$(projectKey)
  displayName: 'JFrog CLI: Build and Publish'

- task: JFrogBuildPromotion@1
  inputs:
    artifactoryConnection: 'hts2-npm'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    projectKey: '$(projectKey)'
    sourceRepo: '$(devRepo)'
    targetRepo: '$(releaseRepo)'
    status: '$(promotionStatus)'
    includeDependencies: false
    copy: false
    dryRun: false
    comment: 'Promoted to ${{ parameters.environment }} by $(Build.RequestedFor) - Build $(Build.BuildNumber)'
  displayName: 'Promote Build to Release Repo'