name: JFrog Integration

trigger:
  - main # or your specific branch

variables:
  MajorVersion: '0'
  MinorVersion: '1'
  PrototypeAPIUrl: 'http://placeholder'
  system_debug: 'false'
  JF_URL: 'https://hts2.jfrog.io'
  # It is safer to store this in Azure Library Secrets rather than plain text
  JF_ACCESS_TOKEN: 'cmVmdGtuOjAxOjE4MDI4NjM5NjU6WWhob25MTWp1OHdoNXBCRDNXUkMyT0NXNW1l'

jobs:
- job: Build
  pool:
    vmImage: 'windows-latest'
  steps:
  - checkout: self

  # Azure doesn't use "uses: jfrog/setup-jfrog-cli". 
  # You must install the JFrog Extension in your Azure DevOps Org 
  # and use the specific JFrog tasks, or install the CLI via script.
  - script: |
      curl -fL https://getcli.jfrog.io | powershell
      jf npm-config --repo-resolve=manu-npm-virtual --repo-deploy=manu-npm-virtual
    displayName: 'Install JFrog CLI & Config'

  - task: NodeTool@0
    inputs:
      versionSpec: '20.3.1'
    displayName: 'Install Node.js'

  - script: |
      jf npm install jquery
      jf npm run
    displayName: 'Install and Build'

  - script: |
      mkdir app
      copy package.json app\package.json
      cd app
      npm version patch
      jf npm publish
    displayName: 'Test npm publish'

  - script: |
      jf rt build-collect-env
      jf rt build-add-git
      jf rt build-publish
    displayName: 'Publish Build Info'
        
