trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  artifactoryService: 'hts2-npm2'
  targetRepo: 'manu-npm-virtual'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf npm config --repo-resolve=$(targetRepo) --repo-deploy=$(targetRepo)'
  displayName: 'JFrog npm Config'

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf npm install --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)'
  displayName: 'npm Install'

- script: |
    npm run build
  displayName: 'npm Build'

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf npm publish --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)'
  displayName: 'JFrog npm Publish'

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf rt build-publish $(Build.DefinitionName) $(Build.BuildNumber)'
  displayName: 'Publish Build Info'