trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  artifactoryService: 'hts2-npm2'
  targetRepo: 'manu-npm-virtual'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

# Use the task to run the install - it handles auth for you!
- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf npm install --repo-resolve=$(targetRepo) --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)'
  displayName: 'npm Install'

- script: |
    npm run build
  displayName: 'npm Build'

# Use the task to publish
- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf npm publish --repo-deploy=$(targetRepo) --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)'
  displayName: 'JFrog npm Publish'

# Finalize Build Info
- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf rt build-publish $(Build.DefinitionName) $(Build.BuildNumber)'
  displayName: 'Publish Build Info'