trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  # The name of your Artifactory Service Connection
  artifactoryService: 'hts2-npm2'
  # The Artifactory repository name
  targetRepo: 'manu-npm-virtual'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

# Configure npm to use the CLI's resolver
- script: |
    jf npm-config --repo-resolve=$(targetRepo) --repo-deploy=$(targetRepo)
  displayName: 'JFrog npm Config'

# Install dependencies through the JFrog CLI (records dependencies for Build Info)
- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: '$(artifactoryService)'
    command: 'jf npm install --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)'
  displayName: 'npm Install'

- script: |
    npm run build
  displayName: 'npm Build'

# Pack and Publish via JFrog CLI
- script: |
    jf npm publish --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)
  displayName: 'JFrog npm Publish'

# Push the Build Info to Artifactory
- script: |
    jf rt build-publish $(Build.DefinitionName) $(Build.BuildNumber)
  displayName: 'Publish Build Info'