trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  artifactoryService: 'hts2-npm2'
  targetRepo: 'manu-npm-virtual'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

# 1. Initialize the JFrog CLI with your connection
- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf setup'
  displayName: 'Setup JFrog CLI'

# 2. Configure the npm repositories
- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf npm-config --repo-resolve=$(targetRepo) --repo-deploy=$(targetRepo)'
  displayName: 'JFrog npm Config'

# 3. Install dependencies (collects build info)
- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf npm install --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)'
  displayName: 'npm Install'

- script: |
    npm run build
  displayName: 'npm Build'

# 4. Publish the package
- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf npm publish --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)'
  displayName: 'JFrog npm Publish'

# 5. Push Build Info to Artifactory
- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: $(artifactoryService)
    command: 'jf rt build-publish $(Build.DefinitionName) $(Build.BuildNumber)'
  displayName: 'Publish Build Info'